:root
{
    --kolor_tekstu: black;
    --kolor_przewodni: rgb(200,26,30);
    --kolor_pzewodni_ciemny: rgb(180, 6, 10);
    --kolor_tla: #eadfdf;
    --kolor_drugi: lightgray;
    --czcionka-g: Calibri, sans-serif;
    --czcionka: Gadugi;
}
body
{
    background: var(--kolor_tla);
    overflow-x: hidden;
    overflow-y: hidden;
    color: black;
    margin: 0;
}
/*
//   
// ========================================
//    ||     ||||   \     / ||||  |||||   {}
//  ||  ||  ||  ||    \/\/  ||    ||  ||  {}
//  ||--||  ||---           ||||  |||||   {}
//  ||  ||  ||                ||  ||  ||  {}
//  ||  ||  ||             |||||  |||||   {}
// ======================================={}
//                                        \\
*/
#preloader
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--kolor_tla);
    
    z-index: 1001;
    
    transition: all .7s linear;
}
#preloader .preload_1
{
    text-align: right;
    position: absolute;
    
    top: 40%;
    animation: preloader_bicycle 2s ease-out forwards infinite;
    
}
#preloader .preload_2
{
    width: 60px;
    height: 10px;
    
    position: absolute;
    top: 45%;
    
    background-color: var(--kolor_przewodni);
    border-radius: 5px;
    
    animation: preloader_path 2s ease-out forwards infinite;
}
#preloader .preload_2, #preloader .preload_1
{
    left: 40%;
}
.hide
{
    transform: translateY(-1000px);
    opacity: .9;
}
a{
    text-decoration: none;
    color: var(--kolor_tekstu);
}
a:visited{
    color: var(--kolor_tekstu);
}
/* HEADER */
header.main_header
{
    width: 100vw;
    background-color: white !important;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header.main_header section.header-section:nth-child(1) img
{
    height: 6rem;
}
header.main_header section.header-section:nth-child(1)
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header.main_header section.header-section:nth-child(2)
{
    display: none;
}
 
/* HAMBURGER-ICON */
header .hamburger
{
    width: 50px;
    height: 45px;
    
    border-radius: 8px;
    box-sizing: border-box;
    
    position: absolute;
    left: 10%;
    
    border-top: 8px solid var(--kolor_przewodni);
    border-bottom: 8px solid var(--kolor_przewodni);
}
header .hamburger::before, header .hamburger::after
{
    content: '';
    position: absolute;
    
    top: 0;
    bottom:0;
    margin: auto;
    width: 100%;
    height: 20%;
    background-color: var(--kolor_przewodni);
}

header .hamburger:hover
{
    cursor: pointer;
    /*animation: hamburger 1s ease forwards;*/
}
.hamburgerAnimate
{
    animation: hamburger .7s ease forwards;
}
.hamburgerAnimate::before
{
    animation: hamburger-b .7s ease forwards;
}
/*ARTICLE*/
article#header_article
{
    display: none;
}

@keyframes hamburger
{
    25%
    {
        height: 0px;
    }
    26%
    {
        border-width: 0;
    }
    50%,100%
    {
        transform: rotate(45deg);
        border-width: 0;
    }
}
@keyframes hamburger-b
{
    50%,100%
    {
        transform: rotate(-90deg);
    }
}
/* NAVIGATION */
.active
{
    display: block;
}
header nav ul
{
    padding: 0;
}
header nav ul li
{
    display: block;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    font-size: 3.5rem; 
    border-top: 1px solid black;
}
header nav ul li a
{
    
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
}
/*OFERTA - ROWERY*/
main
{
    width: 100vw;
    margin-bottom: 10vh;
}
header.headers
{
    width: 100%;
    text-align: center;
    margin-bottom: 2.5vh;
}
hr.after_header
{
    
    padding: 0;
    border: none;
    border-top: medium solid var(--kolor_przewodni);
    text-align: center;
    
    width: 80%;
}
/*
hr.after_header::before
{
    content: "\2666";
    /*color: var(--kolor_przewodni);
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    top:-20px;
}
*/
.rowery img
{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.rowery
{
    display: grid;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    
    grid-template-columns: 1;
    grid-template-rows: repeat(9, 1fr);
    grid-row-gap: .8rem;
}

.rowery .box figure
{
    overflow: hidden;
}

.rowery .box
{
    background-color: white;
    box-sizing: border-box;
    
    border: 2px solid white;
    
    position: relative;
    
    box-shadow: 2px 2px 8px 1px #212321;
    border-radius: 5px;
    overflow: hidden;
}
.rowery .box .wypozycz_rower
{
    position: relative;
    color: white;
    background-color: var(--kolor_przewodni);
    
    border-radius: 15px;
    border: none;
    
    font-weight: 800;
    font-style: oblique;
    font-size: 3rem;
}
.rowery .box .wypozycz_rower:hover
{
    background-color: var(--kolor_pzewodni_ciemny);
    cursor: pointer;
}
#o_nas
{
    display: none;
    width: 100vw;
    background-color: var(--kolor_przewodni);
    color: white;
    
    font-family: inherit;
    
    position: relative;
    
    padding: 100px 150px;
    box-sizing: border-box;
    
    margin-bottom: 10vh;
}
#o_nas aside
{
    width: 100%;
    height: 75px;
    background: var(--kolor_tla);
    
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left:0;
    
}

#o_nas aside:nth-child(1)
{
    top:0;
    right: 75px;
    border-radius: 0 0 100px 0;
    
    box-shadow: inset -2px -8px 7px 1px rgb(180, 6, 10);
}
#o_nas aside.rev_pre_o_nas
{
    border-radius: 100px 0 0 0;
    bottom: 0;
    overflow: hidden;
    
    box-shadow: inset 2px 8px 7px 1px rgb(180, 6, 10);
}

#o_nas .pre_o_nas i
{
    position: absolute;
    bottom: 5%;
    left: 10%;
    
    transform: scale(1.5);
    text-shadow: 2px 2px #212321;
    
    animation: bike_up 15s linear infinite;
}
#o_nas .rev_pre_o_nas i
{
    position: absolute;
    top: 0;
    right: 10%;
    
    transform: scale(1.5) rotateY(180deg) rotateX(180deg);
    text-shadow: 2px 2px #212321;
    
    animation: bike_down 15s linear infinite;
}

.pre_o_nas div
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 160px;
    background-color: var(--kolor_przewodni);
    
    transform: rotate(75deg) translateX(65px) translateY(80px);
    box-shadow: -8px -8px 7px 0px rgb(180, 6, 10);
    
    
}

#o_nas header
{
    text-align: center;
    font-size: 24px;
}
#o_nas .opis
{
    word-spacing: 6px;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: 600;
    
    font-family: Calibri;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    
    margin-bottom: 40px;
}
.opis img
{
    width: 300px;
}
#o_nas .opis p
{
    display: flex;
    align-items: center;
}
#o_nas .opis img
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    max-width: 200px;
}
.cennik
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 15vh;
}
.cennik table, td, th
{
    border: 1px solid black;
    border-collapse: collapse;
    
    padding: 5px 10px;
    
    font-family: Calibri;
}
.cennik table tr:nth-child(even) td
{
    background-color: var(--kolor_przewodni);
    color: white;
}
.cennik table tr:nth-child(odd) td
{
    background-color: #ebe1e1;
}
.cennik table caption
{
    border: 2px solid black;
    background-color: darkgrey;
    color: var(--kolor_przewodni);
    
    font-weight: 800;
    font-size: 21px;
    padding: 10px;
    font-family: Calibri;
    
    border-radius: 15px 15px 0 0;
}
.cennik table
{
    border: 2px solid black;
    border-top: none;
}
.cennik table tr:nth-child(even):hover td
{
    background-color:var(--kolor_pzewodni_ciemny);
}
.cennik table tr:nth-child(odd):hover td
{
    background-color: #e0c0c0;
}
footer
{
    width: 100vw;
    background: black;
    padding: 4rem 2rem;
    
    color: white;
}
footer table
{
    margin-left: auto;
    margin-right: auto;
}
footer table th, footer table td
{
    border-collapse: collapse;
}
footer table th
{
    text-align: center;
    min-width: 4rem;
    font-size: 1.1rem;
}
footer table td
{
    width: 3rem;
}
footer table a
{
    color: white !important;
}
footer table th:nth-child(even), footer table td:nth-child(even)
{
    display: none;
}
@media (min-width: 768px)
{
    /*HEADER*/
    header.main_header
    {
        height: 10vh;
        width: 100vw;


        background-color: var(--kolor_tla);
        border-bottom: 5px solid var(--kolor_przewodni);
        /*transform: translateX(5%);*/

        margin-bottom: 5vh;

        z-index: 1000;
    }
    header.main_header section.header-section:nth-child(1) img
    {
        height: 3rem;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateY(10%);
        
    }
    header.main_header section.header-section:nth-child(1)
    {
        display: block !important;
        float: left;
    }
    header .hamburger
    {
        display: none;
    }
    header.main_header section.header-section:nth-child(2)
    {
        display: block;
        float: left;
        width: 80%;
        
    }
    header nav ul
    {
        transform: translateX(10rem);
    }
    header nav ul li
    {
        display: inline-block;
        width: 20%;
        padding: 0;
        text-align: center;
        font-size: 1.5rem; 
        border: none;
    }
    header nav ul li a:hover
    {
        text-decoration: underline;
        text-decoration-color: var(--kolor_przewodni);
    }
    /*ARTICLE*/
    article#header_article
    {
        display: block;
        width: 80vw;
        height: 75vh;
        background-color: var(--kolor_drugi);
        font-family: var(--czcionka-g);

        position: relative;

        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;

        box-shadow: 0px 0px 7px 1px #212321;

        margin-bottom: 10vh;
    }
    article#header_article section
    {
        float: left;

        width: 49.8%;
        height: 80%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        box-sizing: border-box;
    }
    article#header_article figure:nth-child(1), article#header_article figure:nth-child(3)
    {
        display: none;
    }
    article#header_article section:nth-child(2)
    {
        right: 0;
        border-left: 2px dashed var(--kolor_przewodni);
        padding: 15px 50px;
    }
    article#header_article section:nth-child(2) h2
    {
        font-weight: 600;
        font-size: 28px;
        font-style: normal;
        margin-bottom: 60px;
    }
    article#header_article section:nth-child(2) li
    {
        margin-bottom: 30px;
        font-size: 20px;
        word-spacing: 10px;

        list-style-type: none;
    }
    article#header_article section:nth-child(2) li::before
    {
        /*content: "\2606";*/
        content: "\2022";
        color: var(--kolor_przewodni);
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
        /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_bullet_color*/
    }

    article#header_article figure:nth-child(4)
    {
        position: absolute;
        left: 75%;
        top:-100px;
    }

    article#header_article section:nth-child(1) figure
    {
        width: 180px;
        height: 260px;
        background-color: white;
        box-sizing: border-box;

        border: 2px solid white;

        float: left;
        margin: 0;

        position: relative;

        box-shadow: 2px 2px 8px 1px #212321;
        border-radius: 15px;
        overflow: hidden;
    }

    article#header_article section:nth-child(1) figure img
    {
        width: 100%;
        max-height: 70%;
    }
    article#header_article section:nth-child(1) figure figcaption
    {
        box-sizing: border-box;
        padding: 5px 15px;
        font-size: .75em;
        line-height: 1.3em;
        text-align: center;
        /*
        position: absolute;
        bottom: 0;
        height: 30%;
        */
    }
    article#header_article section:nth-child(1) figure strong
    {
        font-style: italic;
        width: 100%;
        display: block;
        text-align: center;
        font-size: .9em;
    }
    article#header_article section:nth-child(1) figure:nth-child(1), article#header_article section:nth-child(1) figure:nth-child(3)
    {
        transform: scale(.8);
    }
    article#header_article section:nth-child(1) figure:nth-child(3) strong
    {   
        position: absolute;
        bottom :5px;
    }
    #figure_recension_container
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    article#header_article .ocena
    {
        position: absolute;
        top: 42.5%;
        left:0;
        right: 0;
        margin:auto;

        height: 30px;
        width: 80%;

        padding-right: 12px;

        z-index: 100;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        background: linear-gradient(180deg, rgba(16, 15, 15, 0.46), rgba(16, 15, 15, 0.46), transparent, transparent);
        border-radius: 15px;

       /* display: none; */
    }
    article#header_article figure:nth-child(1) .ocena
    {
        /*
        background: linear-gradient(180deg, white, white, white, transparent);
        */
        background: transparent;

        transform: translateY(-16px);
    }
    article#header_article figure:nth-child(2) .ocena
    {
        transform: translateY(4px);

        /*
        background: linear-gradient(180deg, white, white, white, transparent);  
        */
    }
    article#header_article figure:nth-child(3) .ocena
    {
        transform: translateY(-8px);

        /*
        background: linear-gradient(180deg, white, white, white, transparent);
        */
    }
    article#header_article .ocena span
    {
        margin-right: -11px;
    }
    article#header_article .ocena span i:nth-child(1), article#header_article .ocena span i:nth-child(5)
    {
        transform: scale(.7);
    }
    .rowery
    {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 2rem;
    }
    
.rowery img
{
    width: auto;
    height: 12rem;
}
    
.rowery .box .wypozycz_rower
{
    
    font-size: 1.8rem;
    padding: 1rem;
}
    #o_nas
    {
        display: block;
    }
    footer table th:nth-child(even), footer table td:nth-child(even)
{
    display: table;
    min-width: 10rem;
}
}
@media (min-width: 1366px)
{
    header.main_header section.header-section:nth-child(1) img
    {
        height: 3rem;
        position: relative;
        
    }
    article#header_article figure:nth-child(1), article#header_article figure:nth-child(3)
    {
        display: block;
    }
    
    article#header_article section:nth-child(1) figure:nth-child(1)
    {
        animation: figure_previous_3 15s 3s linear infinite;
    }
    article#header_article section:nth-child(1) figure:nth-child(2)
    {
        animation: figure_center_3 15s 3s linear infinite;
    }
    article#header_article section:nth-child(1) figure:nth-child(3)
    {
        animation: figure_next_3 15s 3s linear infinite;
    }
    
    .rowery
    {

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 4rem;
    }
    
    footer table th:nth-child(even), footer table td:nth-child(even)
    {
        display: table;
        min-width: 18rem;
    }
}



/*recenzje*/
@keyframes figure_center_3
{
    20%,45%
    {
        transform: translateX(-100%) scale(.8);
        z-index: 10;
    }
    50%
    {
        transform: translateX(0) scale(.7);
        z-index: 1;
    }
    55%, 80%
    {
        transform: translateX(100%) scale(.8);
        z-index: 10;
    }
    90%, 10%
    {
        transform: translateX(0) scale(1);
        z-index: 10;
    }
}
@keyframes figure_previous_3
{
    10%
    {
        transform: translateX(0) scale(.7);
        z-index: 1;
    }
    20%,45%
    {
        transform: translateX(200%) scale(.8);
        z-index: 10;
    }
    55%, 80%
    {
        transform: translateX(100%) scale(1);
        z-index: 10;
    }
    90%, 10%
    {
        transform: translateX(0) scale(.8);
        z-index: 10;
    }
}
@keyframes figure_next_3
{
    20%,45%
    {
        transform: translateX(-100%) scale(1);
        z-index: 10;
    }
    55%, 80%
    {
        transform: translateX(-200%) scale(.8);
        z-index: 10;
    }
    85%
    {
        transform: translateX(0) scale(.7);
        z-index: 1;
    }
    90%, 10%
    {
        transform: translateX(0) scale(.8);
        z-index: 10;
    }
}
@keyframes bike_up
{
    0%
    {
        left: 0;
    }
    42%
    {
        transform: rotate(0);
        bottom:0
    }
    45%
    {
        transform: rotate(-8deg);
        bottom:21%;
    }
    47%
    {
        transform: rotate(-13deg);
        bottom: 42%;
    }
    50%,100%
    {
        left: 100%;
    }
}
@keyframes bike_down
{
    0%,50%
    {
        right: -10%;
    }
    97%
    {
        transform: rotateX(180deg) rotateY(180deg);
        top: 0;
    }
    100%
    {
        transform: rotateX(90deg);
        right: 100%;
        top: 50%;
    }
}
/*preloader*/
@keyframes preloader_path
{
    0%{
        width: 60px;
        opacity: 1;
    }
    50%
    {
        width: 300px;
        opacity: 1;
    }
    98%
    {
        opacity: .8;
    }
    100%
    {
        width: 300px;
        opacity: 0;
    }
}
@keyframes preloader_bicycle
{
    0%,50%
    {
        width: 60px;
        opacity: 1;
    }
    80%
    {
        width: 300px;
        opacity: 1;
    }
    90%
    {
        opacity: .8;
    }
    100%
    {
        width: 300px;
        opacity: 0;
    }
}