
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-1:before { content: '\e801'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
